@media screen and (max-width: 700px) {
    .rectangle {
        padding: 20px 10px;
    }
    .level-1,
    .level-2 {
        width: 100%;
    }
    .level-1 {
        margin-bottom: 20px;
    }
    .level-1::before,
    .level-2-wrapper>li::before {
        display: none;
    }
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
        display: block;
    }
    .level-2-wrapper {
        width: 90%;
        margin-left: 10%;
    }
    .level-2-wrapper::before {
        left: -20px;
        width: 2px;
        height: calc(100% + 40px);
    }
    .level-2-wrapper>li:not(:first-child) {
        margin-top: 50px;
    }
}